*
	padding 0
	margin 0
a
	cursor pointer
ul
	list-style none
body
	background #fff
	font-size 12px
	font-family "宋体"
	width 100%
	& .top-tit
		margin 0 auto
		width 904px
		height 87px
		background-image url(https://aq.qq.com/v2/images/header.jpg)
		background-position -3px 0 
		& a:hover
			text-decoration underline
			color #2375b1
		& .tit-icon
			width 50%
			float left
			height 87px
		& .right-menu
			float right
			font-size 0
			padding 10px 0 0 0
			line-height 19px
			&>div
				display block
				font-size 12px
				padding-left 9px
				float left
			& .diff
				padding-left 3px
				height 17px
				position relative
				z-index 10
				top -1px
				& a.cl
					display inline-block
					position relative
					line-height 12px
					border 1px solid #fff
					padding-left 5px
					z-index 1
					background #fff
					padding-top 3px
					padding-bottom 1px
					& i.icon
						display inline-block
						width 8px
						height 8px
						background url(../img/12.PNG)
						background-position -903px -133px
						margin-left 6px
						margin-right 2px
				& .sele
					width 193px
					background #fff
					position absolute
					border 1px solid #959595
					top 17px
					padding 10px
					right 0
					display none
					&:before
						content ""
						width 1px
						height 10px
						position absolute
						top -2px
						right -1px
						background #959595
						z-index 3
					& dl
						& dt
							color #2375b1
							font-weight bold
							display block
							padding 10px 0 0 0
							border-top 1px dashed #d6d6d6	
							margin-top 7px
							&:first-child
								padding-top 0
								margin-top 0
								border-top 1px dashed transparent
						& dd
							line-height 21px
							color #535353	
							font-size 12px
							padding-top 3px
			& .diff:hover a.cl
				border-top 1px solid #959595
				border-left 1px solid #959595
				border-right 1px solid #959595
			& .diff:hover .sele
				display block
			& .diff:hover i.icon
				transform rotate(180deg)
				transition transform 0.3s
	& .menu
		width 100%
		background-image url(https://aq.qq.com/v2/images/header_bg.jpg)
		background-repeat repeat-x
		background-position 0 -86px
		height 41px
		position relative 
		z-index 2
		& .inMenu
			margin 0 auto
			width 904px
			position relative
			ul
				& li
					float left
					line-height 41px
					font-size 18px
					color #fff
					margin-right 30px
					&>a
						color #fff
						text-decoration none
					&>a:hover+.sele
						display block
					& .sele
						position absolute
						display none
						padding 0 2px 8px
						border-radius 4px
						box-shadow 0 0 0 1px #e0e0e0 inset
						top 41px
						background-color #fff
						padding-top 4px
						z-index 3
						&:hover
							display block
						&>a
							height 42px
							display block
							color #266392
							line-height 42px
							padding 0 0px 0 40px
							font-size 14px
							font-family Microsoft YaHei
							position relative
							z-index 99
							&:hover
								background-color rgb(210, 234, 253)
							& .i-icon
								display block
								position absolute
								left 8px
								top 6px
								width 30px
								height 30px
								background-image url(../img/xiala.png)
								background-position -442px -89px
							&:hover .i-icon 
								background-position -597px -89px
								
					&>a
						display block
						padding 0 16px
						&:hover
							background-image url(../img/22.png)
							background-repeat repeat-x
					&>a.cur
						background-image url(../img/22.png)
						background-repeat repeat-x
				& .twoLi
					& .sele
						width 182px
				& .threeLi
					& .sele
						width 150px
				& .fourLi
					& .sele
						width 144px
			
			& .mobile-icon
				display block
				width 135px
				height 60px
				position absolute
				right 10px
				top -22px
				background-image url(../img/12.png)
				background-position -740px -1190px
				&:hover
					background-position -740px -1250px
	& .banner
		width 100%
		background-color #e9f1f4
		padding-top 10px
		& .codeFix
			padding 20px 15px 15px
			border 1px solid #bfd8e1
			box-shadow 0 1px 5px #bfd8e1
			position absolute 
			top 250px 
			right 50px
			z-index 1000
			width 112px
			background-color #fff
			p
				text-align center
				font-size 12px
			img
				margin-top 5px
				float left
			.icon-text
				width 102px
				height 17px
				display block
				margin auto
				background url(https://aq.qq.com/v2/images/aq_add_about.png) no-repeat center
			i.dele
				display block
				position absolute
				top 5px
				right 5px
				width 10px
				height 10px
				background url(../img/bg_close_qr.png) no-repeat center
				cursor pointer
		& .inner
			width 905px
			padding-top 12px
			overflow hidden
			margin auto
			position relative
			border 5px solid #eceff1
			background-color #fff
			font-size 14px
			overflow hidden
			padding-bottom 100px
			& .tit
				margin-left 11px
				border-bottom 1px dashed #ddd
				padding-bottom 6px
			& .center
				width 100%
				& .des
					padding-left 170px
					padding-top 19px
					padding-bottom 15px
				& a.pub
					margin 0 auto
					border 1px solid #fff
					display block
					width 613px
					height 60px
					border-radius 8px
					padding 18px 0 0 21px
					& i
						width 32px
						height 32px
						display block
						background url(../img/icon.png) 0 -1741px no-repeat	
						float left
						padding-left 15px
					& .smallTit
						font-weight bold
						padding-top 1px
					& .description
						padding-top 9px
					&:hover
						background-color #dcf4ff
						border 1px solid #cfe2eb
	& .bottom
		width 915px	
		margin auto
		text-align center
		margin-top 10px
		padding 15px 0
		color #999
		font-size 12px
		line-height 21px
		& .top
			a
				margin 0 7px
				&:hover
					text-decoration underline
					color rgb(189, 10, 1)
					
				
		
				
					
				
			