*
	padding 0
	margin 0
a
	cursor pointer
ul
	list-style none
body
	background #fff
	font-size 12px
	font-family "宋体"
	width 100%
	& .top-tit
		margin 0 auto
		width 904px
		height 87px
		background-image url(https://aq.qq.com/v2/images/header.jpg)
		background-position -3px 0 
		& a:hover
			text-decoration underline
			color #2375b1
		& .tit-icon
			width 50%
			float left
			height 87px
		& .right-menu
			float right
			font-size 0
			padding 10px 0 0 0
			line-height 19px
			&>div
				display block
				font-size 12px
				padding-left 9px
				float left
			& .diff
				padding-left 3px
				height 17px
				position relative
				z-index 10
				top -1px
				& a.cl
					display inline-block
					position relative
					line-height 12px
					border 1px solid #fff
					padding-left 5px
					z-index 1
					background #fff
					padding-top 3px
					padding-bottom 1px
					& i.icon
						display inline-block
						width 8px
						height 8px
						background url(../img/12.PNG)
						background-position -903px -133px
						margin-left 6px
						margin-right 2px
				& .sele
					width 193px
					background #fff
					position absolute
					border 1px solid #959595
					top 17px
					padding 10px
					right 0
					display none
					&:before
						content ""
						width 1px
						height 10px
						position absolute
						top -2px
						right -1px
						background #959595
						z-index 3
					& dl
						& dt
							color #2375b1
							font-weight bold
							display block
							padding 10px 0 0 0
							border-top 1px dashed #d6d6d6	
							margin-top 7px
							&:first-child
								padding-top 0
								margin-top 0
								border-top 1px dashed transparent
						& dd
							line-height 21px
							color #535353	
							font-size 12px
							padding-top 3px
			& .diff:hover a.cl
				border-top 1px solid #959595
				border-left 1px solid #959595
				border-right 1px solid #959595
			& .diff:hover .sele
				display block
			& .diff:hover i.icon
				transform rotate(180deg)
				transition transform 0.3s
	& .menu
		width 100%
		background-image url(https://aq.qq.com/v2/images/header_bg.jpg)
		background-repeat repeat-x
		background-position 0 -86px
		height 41px
		position relative 
		z-index 2
		& .inMenu
			margin 0 auto
			width 904px
			position relative
			ul
				& li
					float left
					line-height 41px
					font-size 18px
					color #fff
					margin-right 30px
					&>a
						color #fff
						text-decoration none
					&>a:hover+.sele
						display block
					& .sele
						position absolute
						display none
						padding 0 2px 8px
						border-radius 4px
						box-shadow 0 0 0 1px #e0e0e0 inset
						top 41px
						background-color #fff
						padding-top 4px
						z-index 3
						&:hover
							display block
						&>a
							height 42px
							display block
							color #266392
							line-height 42px
							padding 0 0px 0 40px
							font-size 14px
							font-family Microsoft YaHei
							position relative
							z-index 99
							&:hover
								background-color rgb(210, 234, 253)
							& .i-icon
								display block
								position absolute
								left 8px
								top 6px
								width 30px
								height 30px
								background-image url(../img/xiala.png)
								background-position -442px -89px
							&:hover .i-icon 
								background-position -597px -89px
								
					&>a
						display block
						padding 0 16px
						&:hover
							background-image url(../img/22.png)
							background-repeat repeat-x
					&>a.cur
						background-image url(../img/22.png)
						background-repeat repeat-x
				& .twoLi
					& .sele
						width 182px
				& .threeLi
					& .sele
						width 150px
				& .fourLi
					& .sele
						width 144px
			
			& .mobile-icon
				display block
				width 135px
				height 60px
				position absolute
				right 10px
				top -22px
				background-image url(../img/12.png)
				background-position -740px -1190px
				&:hover
					background-position -740px -1250px
	& .banner
		width 100%
		background-color #e9f1f4
		& .codeFix
			padding 20px 15px 15px
			border 1px solid #bfd8e1
			box-shadow 0 1px 5px #bfd8e1
			position absolute 
			top 250px 
			right 50px
			z-index 1000
			width 112px
			background-color #fff
			p
				text-align center
				font-size 12px
			img
				margin-top 5px
				float left
			.icon-text
				width 102px
				height 17px
				display block
				margin auto
				background url(https://aq.qq.com/v2/images/aq_add_about.png) no-repeat center
			i.dele
				display block
				position absolute
				top 5px
				right 5px
				width 10px
				height 10px
				background url(../img/bg_close_qr.png) no-repeat center
				cursor pointer
		& .inner
			width 915px
			height 382px
			padding-top 13px
			overflow hidden
			margin auto
			position relative
			background url(https://aq.qq.com/v2/images/login_banner.jpg) -80px top no-repeat
			& .entrPag
				width 379px
				height 356px
				position absolute
				z-index 1	
				background #fff
				top 18px
				right 0
				box-shadow 0 0 3px 2px #fff
				font-family "Microsoft YaHei"
				overflow hidden
				& h2
					font-size 20px
					color #333
					text-align center
					font-weight 100
					margin-top 42px
				& .spec
					color red
					font-size 14px
					position absolute
					left 55px
					top 100px
				& p 
					margin-top 16px
					text-align center
					font-size 16px
					line-height 21px
					color #666
					& a
						color #3481cf
						&:hover 
							text-decoration underline
				& .forget
						position absolute
						bottom 5px
						right 8px
						color #666
						&:hover 
							text-decoration underline
				& .entr
					width 272px
					margin 0 auto
					padding-top 36px	
					& .bord
						width 100%
						background-image url(../img/icon2.png)
						background-position -1px -1px
						height 41px
						position relative
						& i.de
							width 21px
							height 21px
							display none
							background url(../img/icon2.png) -116px -160px no-repeat
							position absolute
							top 10px
							right 15px
							cursor pointer
						& label
							position absolute
							top 11px
							left 13px
							font-size 14px
							cursor text
							color #aaa
						& input
							width 258px
							position relative
							top 2px
							left 2px
							padding 10px 0 10px 10px
							line-height 18px
							color #333
							font-family Arial
							font-size 16px
							background 0
							border 0
					& .bord2
						margin-top 14px
					& a.sub
						display block 
						text-align center
						background-color #86ce2f
						line-height 
						width 100%
						height 40px
						line-height 40px
						font-size 17px
						font-family Microsoft YaHei
						color #fff
						margin-top 15px
						
							
	& .funt
		width 100%
		& .inFunt
			margin auto
			width 910px
			height 145px
			margin-top 15px
			border-bottom 1px solid #efefef 
			background url(https://aq.qq.com/v2/images/index_info.jpg) top no-repeat
			& a
				display block
				padding 20px 20px 0 20px
				width 142px
				height 125px
				overflow hidden
				float left
				transition all .3s 
				&:hover
					background-image url(https://aq.qq.com/v2/images/index_info.jpg)
					background-position 0 -148px
				& p.intro
					& span
						line-height 32px
						color #266392
						font-size 14px
						padding-left 12px
						font-weight bold
					& .i-icon
						display block
						width 32px
						height 32px
						float left
						background-image url(../img/icon.png)
					& .icon1
						background-position 0 -1867px
					& .icon2
						background-position -60px -1491px
					& .icon3
						background-position 0 -1361px
					& .icon4
						background-position 0 -1741px
					& .icon5
						background-position 0 -1320px
				& p.des
					padding-top 8px
					color #999
					line-height 20px
					font-size 12px
	& .bottom
		width 915px	
		margin auto
		text-align center
		margin-top 10px
		padding 15px 0
		color #999
		font-size 12px
		line-height 21px
		& .top
			a
				margin 0 7px
				&:hover
					text-decoration underline
					color rgb(189, 10, 1)
					
				
		
				
					
				
			