*
	padding 0
	margin 0
a
	cursor pointer
ul
	list-style none
body
	background #fff
	font-size 12px
	font-family "宋体"
	width 100%
	& .top-tit
		margin 0 auto
		width 904px
		height 87px
		background-image url(https://aq.qq.com/v2/images/header.jpg)
		background-position -3px 0 
		& a:hover
			text-decoration underline
			color #2375b1
		& .tit-icon
			width 50%
			float left
			height 87px
		& .right-menu
			float right
			font-size 0
			padding 10px 0 0 0
			line-height 19px
			&>div
				display block
				font-size 12px
				padding-left 9px
				float left
				
			&>.diff
				width 64px
				position relative
				z-index 10
				font-size 0
				padding-right 4px
				& a.cl
					display block
					& span
						font-size 12px
						display block
						float left
					& i.icon
						display block
						float right
						margin-top 4px
						width 12px
						height 8px
						background url(../img/12.PNG)
						background-position -901px -133px	
				& .ad1
					display none
					width 70px
					height 19px
					position absolute
					top -3px
					right 0
					z-index 3
					border 1px solid #959595
					border-bottom 1px solid #fff
				& .sele
					font-size 12px
					width 193px
					background #fff
					position absolute
					border 1px solid #959595
					top 17px
					padding 10px
					right 0
					display none
					& .ad2
						width 1px
						height 10px
						position absolute
						top -2px
						right -1px
						background #959595
						z-index 3
					& dl
						& dt
							color #2375b1
							font-weight bold
							display block
							padding 10px 0 0 0
							border-top 1px dashed #d6d6d6	
							margin-top 7px
							&:first-child
								padding-top 0
								margin-top 0
								border-top 1px dashed transparent
						& dd
							line-height 21px
							color #535353	
							font-size 12px
							padding-top 3px
		
			& .diff:hover .sele
				display block
			& .diff:hover .ad1
				display block
			& .diff:hover i.icon
				transform rotate(180deg)
				transition transform 0.3s
	& .menu
		width 100%
		background-image url(https://aq.qq.com/v2/images/header_bg.jpg)
		background-repeat repeat-x
		background-position 0 -86px
		height 41px
		position relative
		z-index 3
		& .inMenu
			margin 0 auto
			width 904px
			position relative
			ul
				& li
					float left
					line-height 41px
					font-size 18px
					color #fff
					margin-right 30px
					&>a
						color #fff
						text-decoration none
					&>a:hover+.sele
						display block
					& .sele
						position absolute
						display none
						padding 0 2px 8px
						border-radius 4px
						box-shadow 0 0 0 1px #e0e0e0 inset
						top 41px
						padding-top 4px
						background-color #fff
						z-index 3
						&:hover
							display block
						&>a
							display block
							color #266392
							line-height 42px
							padding 0 0px 0 40px
							font-size 14px
							font-family Microsoft YaHei
							position relative
							z-index 99
							&:hover
								background-color rgb(210, 234, 253)
							& .i-icon
								display block
								position absolute
								left 8px
								top 6px
								width 30px
								height 30px
								background-image url(../img/xiala.png)
								background-position -442px -89px
							&:hover .i-icon 
								background-position -597px -89px
								
					&>a
						display block
						padding 0 16px
						&:hover
							background-image url(../img/22.png)
							background-repeat repeat-x
					&>a.cur
						background-image url(../img/22.png)
						background-repeat repeat-x
				& .twoLi
					& .sele
						width 182px
				& .threeLi
					& .sele
						width 150px
				& .fourLi
					& .sele
						width 144px
			
			& .mobile-icon
				display block
				width 135px
				height 60px
				position absolute
				right 10px
				top -22px
				background-image url(../img/12.png)
				background-position -740px -1190px
				&:hover
					background-position -740px -1250px
	& .banner
		width 100%
		background-color #e9f1f4
		padding-top 10px
		position relative
		z-index 0
		& .codeFix
			padding 20px 15px 15px
			border 1px solid #bfd8e1
			box-shadow 0 1px 5px #bfd8e1
			position absolute 
			top 250px 
			right 50px
			z-index 1000
			width 112px
			background-color #fff
			p
				text-align center
				font-size 12px
			img
				margin-top 5px
				float left
			.icon-text
				width 102px
				height 17px
				display block
				margin auto
				background url(https://aq.qq.com/v2/images/aq_add_about.png) no-repeat center
			i.dele
				display block
				position absolute
				top 5px
				right 5px
				width 10px
				height 10px
				background url(../img/bg_close_qr.png) no-repeat center
				cursor pointer
		& .inner
			width 900px
			margin auto
			padding 0 5px 50px 5px
			min-height 450px
			overflow hidden
			background url(https://aq.qq.com/v2/images/accounts_center.jpg) left top repeat-y
			& .center
				float left
				width 749px
				min-height 400px
				&>.inBanner
					height 145px
					width 100%
					overflow hidden
					text-align center
					position relative
					font-size 0
					& .container
						position relative
						top -145px
						& a
							display block
							height 145px
							img
								height 145px
								width 100%
					& .buttons
						position absolute 
						bottom 10px
						width 100%	
						left 0
						display inline-block
						margin 0 auto
						height 20px
						font-size 0
						text-align center
						line-height 20px
						img.imgBg
							position absolute	
							top -4px
							height 19px
							z-index 0
						em
							position relative 
							z-index 1
							display inline-block
							width 10px
							height 10px
							background #fff
							opacity 0.5
							margin 0 3px
							border-radius 5px
							&.cur
								opacity 1
				&>.smallIn
					width 690px
					margin 0 auto
					padding-top 10px
					& .pubStyle
						width 630px
						padding 22px 30px 18px
						height 41px
						border-bottom 1px solid #efefef
						position relative
						& .i-left
							width 32px
							height 32px
							float left
							background url(../img/icon.png) no-repeat
							background-position 0 -1615px
						& .iconLe2
							background-position 0 -1573px
						& .iconLe3
							background-position 0 -1657px
						& .inner-right
							float left	
							padding-left 15px
							position relative
							& .img
								display none
								width 302px
								height 204px
								left 168px
								top 100px
								background skyblue 
								position absolute 
								z-index 3
							& .qb
								background-image url(../img/qb.png)
							& .dnf
								background-image url(../img/dnf.jpg)
							& a.smTit
								width 150px
								display block
								float left
								color #266392
								font-size 14px
								font-weight bold
								font-family Arial
							& a.right
								display inline-block
								height 14px
								padding-left 19px
								font-size 12px
								line-height 15px
								color #808080
								margin-left 3px
								background url(../img/icon.png) 0 -986px no-repeat
							& a:hover
								text-decoration underline
							& p
								clear both
								font-size 14px
								line-height 20px
								padding-top 5px
				&>.Page2
					position relative
					height 150px
					width 749px
					background url(../img/banner.jpg) 0 -2300px no-repeat
					&>p
						width 220px
						line-height 22px
						font-size 14px
						color #7c7c7c
						padding-top 63px
						padding-left 254px
						font-family Tahoma
					a.imd
						display block
						width 125px
						height 54px
						line-height 42px
						color #69696a
						text-align center
						font-size 16px
						font-family Tahoma
						font-weight bold
						background url(../img/12.png) 0 -720px no-repeat
						position absolute
						top 63px
						right 110px
						&:hover
							background-position -128px -720px
				&>.inner2
					padding-left 35px
					padding-top 22px
					font-size 14px
					& .sTit
						height 18px
						width 100%
						background url(../img/tit.png) no-repeat
						margin-bottom 15px
					& p
						line-height 24px
						&.dd
							color gray
							text-indent 22px
					& .sTit2
						background-position 0 -180px
						margin-top 50px
					& ul.fun
						list-style-type square
						padding-left 17px
						padding-bottom 20px
						& li
							font-size 14px
							line-height 24px
				&>.Page3
					position relative
					height 87px
					width 495px
					background url(../img/banner.jpg) 0 -2149px no-repeat
					padding-top 63px
					padding-left 254px
					line-height 22px
					font-size 14px
					color #7c7c7c
					& .des-p
						width 220px
						font-family Tahoma
					& ul.cl
						list-style-type decimal
						padding-left 26px
				&>.inner3	
					position relative
					padding-left 35px
					padding-top 22px
					& .sTit
						height 18px
						width 100%
						background url(../img/tit.png) no-repeat
						margin-bottom 15px
					& p.des
						padding-top 12px
						padding-bottom 15px	
						font-size 14px
					& p.game-tit
						width 112px
						padding-top 12px	
						font-size 14px
						float left
					& ul.gameName
						float left
						width 540px
						padding-top 12px
						font-size 14px
						li
							float left
							width 180px
							padding-bottom 15px
							& i
								float left
								width 20px
								height 20px
								margin-right 10px
								background-image url(../img/game_icon.png)
					& p.bot-des
						padding-top 20px
						font-size 14px
					& .stit2
						background-position 0 -180px
						margin-top 67px
					& ul.fun
						list-style-type square
						padding-left 17px
						padding-bottom 20px
						& li
							font-size 14px
							line-height 24px
							
			& .choose
				width 151px
				padding-top 20px
				float left
				overflow hidden
				&>a
					display block
					padding-left 36px
					font-size 14px
					line-height 30px
					font-family Tahoma
					margin-left 8px
					&:hover
						background url(../img/12.png) -255px -135px no-repeat
				&>a.top
					margin-top 8px
				h3
					margin-left 11px
					line-height 23px
					font-size 14px
					border-bottom 1px dotted #bfbfbf
					height 25px
					i.icon1
						margin-right 10px
						display block 
						float left
						margin-top 3px
						width 16px
						height 16px
						background url(../img/icon.png) no-repeat 0 -778px
		& .add2
			clear both
			width 910px
			margin 0 auto
			height 5px
			background-image url(../img/12.png)
			background-position 0 -456px
	& .bottom
		width 915px	
		margin auto
		text-align center
		margin-top 10px
		padding 15px 0
		color #999
		font-size 12px
		line-height 21px
		& .top
			a
				margin 0 7px
				&:hover
					text-decoration underline
					color rgb(189, 10, 1)